<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/statics/css/navStyle.css">
    <title>ABOUT - Movie Recommendation System</title>
</head>

<body>
    <nav>
        <a href="/">
            <h1 id="logo">Movie Recommendation System</h1>
        </a>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="../about/" class="current">About</a></li>
            <li><a href="../movies/">Movies</a></li>
            <li><a href="../login/">Login</a></li>
        </ul>
    </nav>

    <section id="aboutPage" style="padding: 5%;">
        <h1><span style="color: red;">Movie Recommendation System</span> is a web project in which we have used machine algorithms to perform the recommendations of movies based on the human emotions.</h1>
    </section>

</body>

</html>